.option{
    display: flex;
    justify-content: space-between;
    padding:$m-size $m-size;
    border-bottom: 1px solid darken($off-white-second, 10%);
}
.option--text{
    color:#fff;
    font-weight: 500;
    font-size: $m-size;
    margin: 0;
    word-break: break-all;
}