//color 
$off-white-color: #20222b;
$dark-body-color: #333457;
$purple-color: #8357c5;
$off-white-second:#A5AFD7;
$blue-color:#3C4251;
$light-blue:#464b5e;
$error:red;

//font-size
$s-size:10px;
$l-size:32px;
$m-size:20px;
$xl-size:10px;
$none-size:0px 0px;